@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes movingToBottom {
  0%   {top: -300px;}
  100% {top: 0;}
}

@keyframes movingToLeft {
  0%   {left: -600px;}
  100% {left: 0;}
}

@keyframes movingToRight {
  0%   {right: -600px;}
  100% {right: 0;}
}