@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$white: #FFFFFF;
$greenDark: #15573F;
$greenDark2: #0C261C;
$greenLight: #75BC97;
$grey: #A8A8A8;
$salmon: #FD9872;
$backgroundGrey: #F2F2F2;