.section-form {
  background-color: $white;
}

form {
  @include flexContainer(row, center, unset);
  flex-flow: wrap;

  .question {
    @include flexContainer(column, unset, unset);
    margin: 32px;

    label {
      margin: 12px 0 32px 0;
      color: $grey;
      font-size: 0.875rem;
    }

    img {
      width: 75px;
      height: 75px;
    }

    img[alt="Wateringcan"] {
      width: 103px;
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, 1);
    }
  }
}