header {
  background: url("/../public/images/hero/mobile/mobile-plantperson.png") no-repeat  center /cover;
  background-position: bottom;
  background-size: 276px 234px;
  height: 600px;
  background-color: $greenLight;
  padding-bottom: 12px;
  background-origin: content-box;
  z-index: 0;

  @media (min-width: 768px) {
    background: url("/../public/images/hero/desktop/plantperson.png") no-repeat  center /cover;
    background-size: auto 415px;
    background-color: $greenLight;
    height: 415px;
    background-position: 70% 50%;
  }
}

.overlaping-content {
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px;

  h1 {
    color: $white;
    font-size: 40px;
  }
}

.overlaping-image-mobile {
  z-index: 2;
  top: 0;
  position: absolute;
  width: 100%;
  
  img {
    width: 100%;
    height: 412px;
  }

  @media (min-width: 767px) {
    display: none;
  }
}

.overlaping-image-desktop {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  
  img:first-child {
    width: 50%;
    height: 426px;
    position: absolute;
  }

  img:last-child {
    width: 25%;
    height: 426px;
    right: 0;
    position: absolute;
  }

  @media (max-width: 768px) {
    display: none;
  }
}