.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundGrey;
  min-height: 23rem;
  text-align: center;
  padding: 12px;
}

.hidden {
  display: none !important;
}

.no-results-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  
  &.title{
    font-size: 2.8125rem;
    color: $grey;
    line-height: 55px;
    margin-bottom: 1rem;
  }

  &.instructions-no-results {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 27px;
    color: $grey;
  }

  img {
    width: 84.81px;
    height: 164.65px;
    margin: 1rem;
  }
}

.results-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  &.title{
    font-size: 2.5rem;
    color: $greenDark2;
    line-height: 49px;
    font-weight: bold;
    margin: 21px;
  }

  img[alt="Pick"] {
    width: 146px;
    height: 72px;
    margin: 21px;
  }
}

.carousel {
  white-space: nowrap;
  overflow: auto;
  float: left;
}

.scroll-to-top-btn {
  display: flex;
  width: 100%;
  border: 1px solid $greenDark;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 1rem;
  color: $greenDark;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 2rem 0;

  svg {
    cursor: pointer;
  }

  object {
    margin-right: 12px;
  }

  &:hover {
    background-color: $greenDark;
    color: $white;
    transition: all 0.3s ease-in;

    object {
      filter: brightness(0) invert(1);
    }
  }
}

